body {
    background-color: rgb(242,225,199);
    margin: 0 auto;
}

.nav-bar {
    background-color: rgb(36,50,61);
    width: 100%;
    height: 80px;
}

ul {
    text-align: right;
}

.nav-item {
    display: inline-block;
    margin-right: 100px;
    color: white;
    position: relative;
    top: 25px;
    
}

.banner {
    background-image: url('../img/kings-landing.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.banner-text-background {
    width: 300px;
    height: 180px;
    background-color: red;
    margin-top: 200px;
}

.body {
    width: 100%;
    
}

.body-text {
    margin-top: 0px;
    margin-left: 50px;
    width: 600px;
    height: 345px;
    border: 2px solid blue;
    float: left;
}

.iron-throne-icon {
    height: 88px;
    float: left;
}

.nav-title {
    text-align: center;
    font-size: 160%;
    margin-right: 15.5%;
    color: rgb(204,23,0);
}

.nav-item a:hover {
    color: rgb(134,140,138);
    
}

.nav-item a {
    color: rgb(138,174,190);
    font-size: 120%;
    text-decoration: none;
}

.targ-banner {
    float: right;
    height: 600px;
    margin-right: 7%;
    margin-top: -18px;
    box-shadow: 15px 15px 15px grey;
    
}

.column-one {
    height: 1300px;
    width: 33%;
    /*border: 2px dashed blue;*/
    float: left;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 26px;
    
}

.column-two {
    height: 600px;
    width: 33%;
    /*border: 2px dashed green;*/
    float: left;
    text-align: center;
}

.column-three {
    height: 1300px;
    width: 33%;
    /*border: 2px dashed red;*/
    float: left;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 26px;
}

.stark-banner {
    height: 600px;
    margin-left: 7%;
    margin-top: -18px;
    float: left;
    box-shadow: 15px 15px 15px grey;
}

.main-p {
    width: 48%;
    float: left;
    margin-top: 50px;
    margin-left: 11%;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
}

.footer {
    /*border: 1px dashed blue;*/
    width: 100%;
    height: 150px;
    clear: both;
    /*background-color: rgb(138,174,190);*/
}

.footer-col {
    width: 32%;
    /*border: 1px dashed black;*/
    height: 80px;
    display: inline-block;
    vertical-align: top;
}


.fab {
    color: darkblue;
    margin-left: 15px;
    /*display: inline;*/
    /*height: 50px;*/
    font-size: 150%;
}
.fab:hover {
    color: red;
}

.footer-col-soc {
    margin-left: 35%;
    margin-top: 30px;
}

.copyright {
    text-align: center;
    margin-top: 11%;
    color: rgb(36,50,61);
    font-size: 18px;
}

.targ-sigil {
    width: 70%;
    display: center;
    margin-top: 5px;
    
}

.lann-sigil {
    width: 65%;
    margin-top: 5px;
    /*margin-left: 22%;*/
    /*display: center;*/
    text-align: center;
}

.drag-vid {
    width: 95%;
    margin-top: 10.5%;
}

.header {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 3px 3px 3px grey;
    font-size: 40px;
}

.columns {
   width: 100%;
}

.audio-one {
    background-color: rgb(196,15,0);
}

.audio-two {
    background-color: maroon;
}

/*===================CONTACT STYLES==================*/

.contact-form {
    margin: 0 auto;
    width: 600px;
    float: left;
    margin-top: 20px;
}

.map {
    border: solid darkblue;
    width: 400px;
    height: 300px;
    float: right;
    margin-top: 8%;
    margin-right: 10%;
}

.raven {
    margin-top: 6%;
    margin-left: 5%;
    
}


.center-img {
    text-align: center;
    float: right;
    margin-right: -46%;
}
